html, body, main {
  width: 100%;
  height: 100%;
  color: #666;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif; }

html {
  background: #e7e7e0; }

a {
  text-decoration: none; }

header {
  background: #fff;
  padding: 15px 14% 0; }
  header nav {
    position: relative;
    border-bottom: 5px solid #258981;
    padding-bottom: 10px; }
    header nav #brand img {
      max-height: 70px; }
  header #nav-toggle {
    float: right;
    margin-top: 20px;
    border: 1px solid #ebebeb;
    padding: 7px;
    color: #666;
    display: inline-block; }
    @media screen and (min-width: 992px) {
      header #nav-toggle {
        display: none; } }

.nav-header {
  display: inline-block;
  float: right;
  list-style-type: none;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px; }
  .nav-header li {
    float: left;
    padding: 8px 20px; }
    .nav-header li i {
      font-size: 20px;
      color: #32d701;
      margin-left: 2px; }
    .nav-header li .title-menu {
      text-transform: uppercase; }
  .nav-header li:hover {
    cursor: pointer; }
    .nav-header li:hover .title-menu {
      color: #258981; }
  .nav-header li:first-child {
    margin-left: 0; }
  .nav-header li.change-dropdown {
    position: relative;
    z-index: 5; }
  @media screen and (max-width: 992px) {
    .nav-header {
      display: none; } }

.nav-header.open-dropdown {
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  padding: 0;
  text-align: right;
  z-index: 5; }
  .nav-header.open-dropdown li {
    float: none; }

section.pattern {
  height: 90%; }

.vertical-align {
  display: table-cell;
  vertical-align: middle; }
  .vertical-align div {
    text-align: center; }

.each-section {
  text-align: center;
  color: #fff; }
  .each-section h1 {
    letter-spacing: -1px;
    display: inline-block;
    padding: 30px;
    margin-top: 0;
    font-weight: 300;
    margin-bottom: 80px;
    font-family: "Roboto", sans-serif; }
    .each-section h1 #style-h1 {
      font-size: 25px; }
    .each-section h1 .cd-words-wrapper {
      margin-top: 15px; }
      .each-section h1 .cd-words-wrapper .span-featured {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 40px; }
  @media screen and (max-width: 768px) {
    .each-section h1 {
      font-size: 24px;
      padding: 15px; }
    .each-section span {
      width: 80%; } }

#section-initial {
  background: url(../images/banner1.jpg), RGBA(37, 137, 129, 0.4);
  background-repeat: no-repeat, repeat-x;
  -webkit-background-size: cover, cover;
  -moz-background-size: cover, cover;
  -o-background-size: cover, cover;
  background-size: cover, cover;
  background-position: bottom center, bottom center;
  background-blend-mode: multiply, normal;
  -webkit-blend-mode: multiply, normal;
  z-index: -1;
  height: 100%;
  width: 100%;
  display: table; }

#banner {
  margin-bottom: 0; }
  #banner .slick-next {
    right: 40px; }
  #banner .slick-prev {
    left: 40px; }
  @media screen and (max-width: 768px) {
    #banner .slick-next {
      right: 5px; }
    #banner .slick-prev {
      left: 5px; } }
  #banner .slick-list.draggable, #banner .slick-track {
    height: 100%; }
  #banner .slick-next, #banner .slick-prev {
    z-index: 5;
    width: 30px;
    height: 50px; }
  #banner .slick-prev:before {
    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 50px; }
  #banner .slick-next:before {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 50px; }

.with-border {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: -1px;
  margin-bottom: 70px;
  font-weight: 300; }
  .with-border span {
    position: relative;
    color: #666; }
  .with-border span:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    border-bottom: 2px solid #32d701;
    bottom: -5px;
    left: 40%; }
    @media screen and (max-width: 480px) {
      .with-border span:after {
        bottom: -50px; } }
  @media screen and (max-width: 992px) {
    .with-border {
      font-size: 24px; } }

#middle-section {
  z-index: 1;
  display: block;
  float: left;
  margin-top: -100px;
  width: 100%;
  background: #fff;
  transform: skew(0deg, -7deg);
  -ms-transform: skew(0deg, -7deg);
  -webkit-transform: skew(0deg, -7deg);
  padding-bottom: 100px; }
  #middle-section .div-columns {
    margin-left: 60px;
    margin-right: 60px;
    text-align: center; }
    #middle-section .div-columns span {
      font-weight: 300;
      line-height: 22px; }
    #middle-section .div-columns .one-column {
      padding: 0 40px;
      margin: 0 20px;
      margin-bottom: 15px; }
    #middle-section .div-columns .each-column {
      display: inline-block;
      width: calc((100% - 130px)/3);
      margin: 0;
      text-align: center;
      padding: 10px; }
      #middle-section .div-columns .each-column figure {
        margin: 0 auto;
        width: 100%;
        height: 400px;
        position: relative;
        float: left; }
        #middle-section .div-columns .each-column figure div {
          overflow: hidden;
          width: 100%;
          height: 100%; }
        #middle-section .div-columns .each-column figure img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
      #middle-section .div-columns .each-column h3 {
        text-transform: uppercase; }
      @media screen and (max-width: 992px) {
        #middle-section .div-columns .each-column {
          display: block;
          width: 100%;
          margin-bottom: 20px;
          margin: 5px; }
          #middle-section .div-columns .each-column span {
            width: 80%;
            display: block;
            margin: 0 auto; } }
      #middle-section .div-columns .each-column.tree-columns figure {
        height: 150px; }
        #middle-section .div-columns .each-column.tree-columns figure div {
          height: 130px;
          width: 130px;
          background: #73C2BB;
          border-radius: 50%;
          text-align: center;
          margin: auto; }
          #middle-section .div-columns .each-column.tree-columns figure div i {
            color: #fff;
            font-size: 46px;
            padding-top: 40px; }
      #middle-section .div-columns .each-column.four-columns {
        width: calc((100% - 95px)/4);
        padding: 0; }
        #middle-section .div-columns .each-column.four-columns h3 {
          text-align: right; }
        @media screen and (max-width: 992px) {
          #middle-section .div-columns .each-column.four-columns {
            width: inherit; }
            #middle-section .div-columns .each-column.four-columns span {
              width: 100%; } }
    @media screen and (max-width: 768px) {
      #middle-section .div-columns {
        margin-left: 10px;
        margin-right: 10px; } }
  #middle-section #color-green {
    margin-top: 70px; }

.btn-see-more {
  text-align: center;
  padding: 15px;
  margin-top: 20px; }
  .btn-see-more a {
    padding: 10px;
    background: #a3cf53;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500; }

#form-contact {
  background: #258981;
  z-index: 0;
  display: block;
  float: left;
  margin-top: -100px;
  width: 100%;
  padding-top: 180px;
  padding-bottom: 30px; }
  #form-contact h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: -1px;
    margin-bottom: 10px;
    font-weight: 300; }
  #form-contact span {
    display: block;
    text-align: center;
    color: #fff; }
  #form-contact form {
    width: 50%;
    margin: auto;
    margin-top: 50px; }
    #form-contact form .inputs-form {
      text-align: left;
      padding: 10px 15px;
      border: 2px solid;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 30px;
      background: #fff; }
      #form-contact form .inputs-form input, #form-contact form .inputs-form textarea {
        background: transparent;
        border: none;
        color: #344257;
        width: 75%;
        font-weight: 500;
        margin-left: 10px;
        border-left: 1px solid #E0E0E0;
        padding-left: 10px; }
      #form-contact form .inputs-form textarea {
        display: block;
        margin-top: 5px;
        width: 100%;
        padding-left: 0;
        margin-left: 0;
        border-left: 0; }
      #form-contact form .inputs-form i {
        color: #258981; }
      #form-contact form .inputs-form#span-name, #form-contact form .inputs-form#span-phone {
        width: 44%;
        display: inline-block; }
      #form-contact form .inputs-form#span-phone {
        margin-left: 7px; }
    #form-contact form #submit {
      padding: 10px;
      background: #a3cf53;
      border-radius: 2px;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      border: none; }
  @media screen and (max-width: 768px) {
    #form-contact h1 {
      font-size: 25px; }
    #form-contact form {
      width: 80%; } }

footer {
  background: #e7e7e0;
  padding: 20px 14%;
  font-weight: 300;
  clear: both; }
  footer a {
    margin: 0 5px;
    color: #666; }
  footer i.dz {
    background: #666;
    color: #fff;
    height: 50px;
    width: 50px;
    padding: 3px;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    margin-left: 5px; }
  footer .right-div {
    display: inline-block;
    float: right;
    font-size: 12px; }
    @media screen and (max-width: 768px) {
      footer .right-div {
        display: block;
        margin-top: 15px; } }
  footer .left-div {
    display: inline-block; }

.clear-transform {
  display: block;
  float: left;
  margin-top: 100px;
  width: 100%;
  transform: skew(0deg, 7deg);
  -ms-transform: skew(0deg, 7deg);
  -webkit-transform: skew(0deg, 7deg); }

/*# sourceMappingURL=clinic.css.map */
