$principal-color: #32b3b9;
$green-color: #a3cf53;
$font-family: Helvetica,Helvetica Neue,Arial,sans-serif;
$font-family-headers: 'Roboto', sans-serif;
$text-color: #666;
$color-header: #f6f6fb; 
$color-border: #ebebeb;
$width-lg: 1200px;
$width-md: 992px;
$width-sm: 768px;
$width-xs: 480px;

$light-green: #32d701;
$dark-green: #258981;


html, body, main {
  width: 100%;
  height: 100%;
  color: $text-color;
  font-family: $font-family;
}

html{
	background: #e7e7e0;
}

a{
	text-decoration: none;
}

header {
	background: #fff;
	padding: 15px 14% 0;

	nav{
		position:relative;
		border-bottom: 5px solid $dark-green;
		padding-bottom: 10px;

		#brand img{
			max-height: 70px;
		}
	}
	
	#nav-toggle{	
		float: right;
		margin-top: 20px;
		border: 1px solid $color-border;
		padding: 7px;
		color: $text-color;
		display: inline-block;

		@media screen and (min-width: $width-md) {
			display: none;
		}
		
	}
		
}

.nav-header{
	display: inline-block;
	float: right;
	list-style-type: none;
	font-family: $font-family;
	font-weight: 500;
	font-size: 14px;

	li{
		float: left;
		padding: 8px 20px;

		i{
			font-size: 20px;
			color:  $light-green;
			margin-left: 2px;
		}

		.title-menu{
			text-transform: uppercase;
		}
	}

	li:hover{
		cursor: pointer;
	
		.title-menu{
			color: $dark-green;
		}
	}

	li:first-child{
		margin-left: 0;	
	}

	li.change-dropdown{
		position: relative;
		z-index: 5;
	}		

	@media screen and (max-width: $width-md) {
		display: none;
	}	
}

.nav-header.open-dropdown{
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 0;
    background: #fff;
    padding: 0;
    text-align: right;
    z-index: 5;

	li{
		float: none;
	}
}

section.pattern{
	height: 90%;
}

.vertical-align{
	display:table-cell;
	vertical-align:middle;

	div{
		text-align: center;
	}
}

.each-section{	
	text-align: center;
	color: #fff;

	h1{		
		letter-spacing: -1px;
		display: inline-block;
		padding: 30px;
		margin-top: 0;
		font-weight: 300;
		margin-bottom: 80px;
		font-family: $font-family-headers;

		#style-h1{
			font-size: 25px;
		}		

		.cd-words-wrapper{
			margin-top: 15px;
			
			.span-featured{
				text-transform: uppercase;
				font-weight: 600;
				font-size: 40px;
			}
		}

	}

	@media screen and (max-width: $width-sm) {
		h1{

		    font-size: 24px;
    		padding: 15px;	
		}

		span{
			width: 80%;
		}
		
	}
}

#section-initial{
	background: url(../images/banner1.jpg), RGBA(37, 137, 129, 0.4);
	background-repeat: no-repeat, repeat-x;
	-webkit-background-size: cover, cover;
	-moz-background-size: cover, cover;
	-o-background-size: cover, cover;
	background-size: cover, cover;	
	background-position: bottom center, bottom center;
	background-blend-mode: multiply, normal;
	-webkit-blend-mode: multiply, normal; 
	z-index: -1;
	height:100%;
	width: 100%;
	display: table;	
}	

#banner{
	margin-bottom: 0;

	.slick-next{
		right: 40px; 
	}

	.slick-prev{
		left: 40px;
	}

	@media screen and (max-width: $width-sm) {
		.slick-next{
			right: 5px; 
		}

		.slick-prev{
			left: 5px;
		}

	}	

	.slick-list.draggable, .slick-track{
		height:100%;
	}	

	.slick-next, .slick-prev{
		z-index: 5;
		width: 30px;
		height: 50px;
	}

	.slick-prev:before {
	  content: "\f104";
	  font: normal normal normal 14px/1 FontAwesome;
	  font-size: 50px;
	}

	.slick-next:before {
	  content: "\f105";
	  font: normal normal normal 14px/1 FontAwesome;
	  font-size: 50px;
	}
}

.with-border{
	text-align: center;
	text-transform: uppercase;
	font-size: 35px;
	letter-spacing: -1px;
	margin-bottom: 70px;
	font-weight: 300;

	span {
		position: relative;
		color: $text-color;
	}

	span:after {
		position: absolute;
		content: '';
		width: 70px;
		height: 1px;
		border-bottom: 2px solid $light-green;
		bottom: -5px;
		left: 40%;

		@media screen and (max-width: $width-xs){
			bottom: -50px;
		}
	}
	@media screen and (max-width: $width-md){
		font-size: 24px;
	}
}

#middle-section{ 
	z-index: 1; 
	display: block; 
	float: left; 
	margin-top: -100px; 
	width: 100%; 
	background: #fff; 
	transform: skew(0deg,-7deg); 
	-ms-transform: skew(0deg,-7deg); 
	-webkit-transform: skew(0deg,-7deg);
	padding-bottom: 100px;

	.div-columns{
		margin-left: 60px;
		margin-right: 60px;
		text-align: center;

		span{
			font-weight: 300;
			line-height: 22px;
		}

		.one-column{
			padding: 0 40px;
			margin: 0 20px;
			margin-bottom:  15px;
		}

		.each-column{
			display: inline-block;
			width: calc((100% - 130px)/3);
			margin: 0;
			text-align: center;
			padding: 10px;

			figure{
				margin: 0 auto;
				width: 100%; 
				height: 400px;
				position: relative;
				float: left;

				div{
					overflow: hidden; 
					width: 100%; 
					height: 100%;
				}
				img{
						height: 100%; 
						width: 100%; 
						object-fit: cover;
					}
			}

			h3{
				
				text-transform: uppercase;
			}

			@media screen and (max-width: $width-md){
				display: block;
				width: 100%;
				margin-bottom: 20px;
				margin: 5px;

				span{
				    width: 80%;
				    display: block;
				    margin: 0 auto;

				}
			}

			&.tree-columns{
				figure{
					height: 150px;

					div{
						height: 130px;
						width: 130px;
						background: #73C2BB;
						border-radius: 50%;
						text-align: center;	
						margin: auto;

						i{
							color: #fff;
							font-size: 46px;
							padding-top: 40px;
						}
					}
					
				}


			}

			&.four-columns{
				width: calc((100% - 95px)/4);
				padding: 0;


    			h3{
					text-align: right;
    			}

    			@media screen and (max-width: $width-md){
    				width: inherit;	

    				span{
    					width: 100%;
    				}
    			} 
			}			
		}

		@media screen and (max-width: $width-sm){
			margin-left: 10px;
			margin-right: 10px;
		}			
	}

	#color-green{
		margin-top: 70px;
	}

}

.btn-see-more{
	text-align: center;
	padding: 15px;
	margin-top: 20px;

	a{
		padding: 10px;
		background: $green-color;
		border-radius: 2px; 
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
	}
}

#form-contact{
	background: $dark-green;
	z-index: 0;
	display: block;
	float: left;
	margin-top: -100px;
	width: 100%;
	padding-top: 180px;
	padding-bottom: 30px;

	h1{
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 35px;
		letter-spacing: -1px;
		margin-bottom: 10px;
		font-weight: 300;
	}

	span{
		display: block;
		text-align: center;
		color: #fff;
	}

	form{		
		width: 50%;
		margin: auto;
		margin-top: 50px;

		.inputs-form{
			text-align: left;
			padding: 10px 15px;
			border: 2px solid;
			font-weight: 500;
			text-transform: uppercase;
			margin-bottom: 30px;
			background: #fff;	

			input, textarea{
				background: transparent;
				border: none;
				color: #344257;
				width: 75%;
				font-weight: 500;
				margin-left: 10px;
				border-left: 1px solid #E0E0E0;
				padding-left: 10px;
			}

			textarea{
				display: block;
				margin-top: 5px;
				width: 100%;
				padding-left: 0;
				margin-left: 0;
				border-left: 0;
			}

			i{
				color: $dark-green;
			}

			&#span-name, &#span-phone{
				width: 44%;
				display: inline-block;
			}
			&#span-phone{
				margin-left: 7px;
			}		
		}

		#submit{
				padding: 10px;
				background: $green-color;
				border-radius: 2px; 
				color: #fff;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 500;
				border: none;
			}
	}

	@media screen and (max-width: $width-sm){
		h1{
			font-size: 25px;
		}

		form{		
			width: 80%;
		}
	}	
}


footer{
	background: #e7e7e0;	
	padding: 20px 14%;
	font-weight: 300;
	clear: both;

	a{
		margin: 0 5px;
		color: $text-color;
	}

	i.dz{
		background: #666;
		color: #fff;
		height: 50px;
		width: 50px;
		padding: 3px;
		font-size: 10px;
		font-weight: 400;
		font-style: normal;
		margin-left: 5px;
	}

	.right-div{
		display: inline-block; 
		float: right; 
		font-size: 12px;

		@media screen and (max-width: $width-sm){
			display: block;
			margin-top: 15px;
		}	
	}

	.left-div{
		display: inline-block;
	}
}

.clear-transform{
	display: block; 
	float: left; 
	margin-top: 100px; 
	width: 100%;
	transform: skew(0deg,7deg); 
	-ms-transform: skew(0deg,7deg); 
	-webkit-transform: skew(0deg,7deg);
}

